* {
  padding: 0;
  margin: 0; }

.slider {
  overflow: hidden;
  height: 100vh;
  width: 100%; }
  .slider ul {
    display: flex;
    padding: 0;
    animation: automatico 15s infinite alternate linear;
    width: 100%; }
  .slider li {
    width: 100%;
    list-style: none; }
  .slider img {
    height: 100px; }

@keyframes automatico {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.trans {
  background-image: linear-gradient(to bottom, yellow, #1295ac); }

#img-principal img {
  height: 450px;
  width: 100%; }

#timeline {
  background-color: yellow; }

.tarjeta {
  position: relative;
  width: 400px;
  height: 325px; }
  .tarjeta .Frontal {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000; }
    .tarjeta .Frontal :hover {
      transform: perspective(600px) rotateY(180deg); }
    .tarjeta .Frontal img {
      position: absolute;
      width: 100%;
      height: 100%; }
    .tarjeta .Frontal h3 {
      position: absolute;
      bottom: 0;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 45px;
      text-align: center;
      line-height: 45px; }
  .tarjeta .Trasera {
    transform: perspective(600px) rotateY(180deg);
    padding: 15px;
    background: #4b733b;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; }
    .tarjeta .Trasera :hover {
      transform: perspective(600px) rotateY(360deg); }
    .tarjeta .Trasera h3 {
      font-size: 30px;
      margin-top: 5%;
      letter-spacing: 2px; }
    .tarjeta .Trasera p {
      letter-spacing: 1px;
      padding-bottom: 12%; }

.nro1 {
  grid-area: 'foto1'; }

.nro2 {
  grid-area: 'foto2'; }

.nro3 {
  grid-area: 'foto3'; }

.nro4 {
  grid-area: 'foto4'; }

.nro5 {
  grid-area: 'foto5'; }

.nro6 {
  grid-area: 'foto6'; }

.nro7 {
  grid-area: 'foto7'; }

.nro8 {
  grid-area: 'foto8'; }

.nro9 {
  grid-area: 'foto9'; }

.nro10 {
  grid-area: 'foto10'; }

.nro11 {
  grid-area: 'foto11'; }

.nro12 {
  grid-area: 'foto12'; }

.nro13 {
  grid-area: 'foto13'; }

.nro14 {
  grid-area: 'foto14'; }

.nro15 {
  grid-area: 'foto15'; }

.cara {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: .5s; }

#fotoFondo {
  background-image: url(../assets/img/estatua-cristo-redentor-en-rio-de-janeiro-brazil-11774.webp);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh; }
  #fotoFondo #Medio {
    height: 60%;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center; }
    #fotoFondo #Medio h1 {
      color: #002456;
      font-size: 55px;
      font-family: 'Comfortaa'; }
    #fotoFondo #Medio h2 {
      font-size: 30px;
      color: #Fadb04;
      font-family: 'Comfortaa'; }
  #fotoFondo #Flecha {
    display: flex;
    width: 100%;
    height: 25%;
    justify-content: center;
    align-items: start; }
    #fotoFondo #Flecha #flechaimg {
      height: 100px;
      animation: bajar 1.5s infinite; }

header {
  height: 100px;
  display: flex;
  align-items: center;
  transition: all .2s;
  width: 100%;
  background-image: linear-gradient(to top, rgba(83, 83, 83, 0), rgba(0, 155, 13, 0.438)); }
  header #logo {
    width: 16%;
    padding-left: 5%;
    height: 90%; }
  header ul {
    display: flex;
    width: 84%;
    justify-content: end; }
    header ul li {
      display: inline; }
      header ul li a {
        text-decoration: none !important;
        justify-content: end;
        padding-right: 24px;
        color: #002456;
        font-size: 25px; }

header:hover {
  background-color: #F2e062;
  background-image: none; }
  header:hover a {
    color: #049c3c; }

@keyframes bajar {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(0, 100%); } }

#temasDesta {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 600px;
  background-color: #002456; }
  #temasDesta .temasDestaTitu {
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center; }
    #temasDesta .temasDestaTitu h1 {
      font-family: 'Comfortaa';
      font-size: 40px;
      color: #049c3c; }
  #temasDesta .slider {
    display: inline-block;
    margin-left: 425px;
    width: 100%;
    max-width: 750px;
    height: 85%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.osi {
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  scroll-snap-align: center; }

.o1 {
  background-image: url(../assets/img/menuhistoria.jpg);
  height: 100%;
  width: 100%; }

.o2 {
  background-image: url(../assets/img/i.jpg);
  height: 100%;
  width: 100%; }

.o3 {
  background-image: url(../assets/img/galeri.jpg);
  height: 100%;
  width: 100%; }

.o4 {
  background-image: url(../assets/img/tursim.jpg);
  height: 100%;
  width: 100%; }
