#imagenmat{
    height:50%;
    width: 50% !important;
}

.fauna{
    text-align: center;
    align-items: center;
}

#h2 titulomat{
    text-align: center;
    
}

.h1  {
    text-align: center;
}

.body{
    background-color: black;
}

