#img-principal{
    img{
        height: 450px;
        width: 100%;
    }
}

.timeline{
    background-color: yellow;
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    height: 1000px;
}

.tarjeta{
    padding: 10px 50px;
    position: relative;
    width: 300px;
    height: 350px;
    .izquierda{
        right: 0;
    }
    .derecha{
        right: 50%;
    }
}

.cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.Frontal{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.Frontal img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.Frontal h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;

}
.Trasera{
    transform: perspective(600px) rotateY(180deg);
    padding: 15px;
    background: #4b733b;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.Trasera h3{
    font-size: 30px;
    margin-top: 5%;
    letter-spacing: 2px;
}
.Trasera p{
    letter-spacing: 1px;
    padding-bottom: 12%;
}
.tarjeta:hover .Frontal{
    transform: perspective(600px) rotateY(180deg);
}
.tarjeta:hover .Trasera{
    transform: perspective(600px) rotateY(360deg);
}


