#img-principal{
    img{
        height: 700px;
        width: 100%;
    }
}

.body-historia{
    background-color: yellow;
    height: 10000px;;

}
.timeline{
    
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    height: 4000px;
}

.tarjeta{
    padding:50px;
    position: relative;
    width: 300px;
    height: 350px;
}

.cara{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.Frontal{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.Frontal img{
    position: absolute;
    width: 100%;
    height: 100%;
}
.Frontal h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;

}
.Trasera{
    transform: perspective(600px) rotateY(180deg);
    padding: 15px;
    background: #4b733b;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.Trasera h3{
    font-size: 30px;
    margin-top: 5%;
    letter-spacing: 2px;
}
.Trasera p{
    letter-spacing: 1px;
    padding-bottom: 12%;
}
.tarjeta:hover .Frontal{
    transform: perspective(600px) rotateY(180deg);
}
.tarjeta:hover .Trasera{
    transform: perspective(600px) rotateY(360deg);
}


.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 100px;
    background-color: #000;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}

.timeline::after{
    position: absolute;
    width: 6px;
    height: 100%;
    background: #000;
    top: 0;
    left: 50%;
    margin-left:-3px;
    z-index: -1;

}