.body10{
    background-color: black;
}


#Fondo{
    background-image: url(../assets/img/Mundo/industria.jpg);
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    #titulo{
        position: center;
        text-align: center;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 60%;

        h2{
            position: center;
            color: yellowgreen;
            font-size: 50px;
            font-family: 'Comfortaa';
            
        }
    }
    

}
.h3historia{
    text-align: center;
    align-content: center;
    color: green;
    padding-top: 10%;
}
#carouselExampleCaptions{
    margin: 15%;
    margin-top: 0%;
    margin-bottom: 5%;
    padding: 15%;
    padding-top: 5%;
}

.historiadiv{
    text-align: center;
    align-content: center;
    color: green;
    background-color: white;
}
