main{

}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6klyijK2vEPJcFLYMiIOVb2kaHpXHI1VeTg&s);
    background-repeat: no-repeat;
    background-size: cover;
}

.trans{
    height:100px;
    background-image: linear-gradient(to bottom, #3E89CB);
}

#playa-princ{
    width: 100%;
    height: 500px;
}

#masvisitado{
    margin-left: 10%;
    margin-right: 10%;
    height: 300px;
    p{
        display: flex;
        justify-content: center;
    }
}

td{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#masvisitado td{
    list-style: none;
    text-decoration: none;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

p{
    font-size: 20px;
}

table{
    display: flex;
    justify-content: center;
    width: 100%;
}