.trans{
    height:100px;
    background-image: linear-gradient(to bottom, yellow, rgb(35, 105, 255));
}

#playa-princ{
    width: 100%;
    height: 500px;
}

#masvisitado{
    margin-left: 10%;
    margin-right: 10%;
}

#masvisitado ul{
    list-style: none;
    text-decoration: none;
}

h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
}

p{
    font-size: 20px;
}